.vs/ProjectEvaluation/umind.metadata.v6.1
.vs/ProjectEvaluation/umind.projects.v6.1
.vs/uMind/DesignTimeBuild/.dtbcache.v2
.vs/uMind/v17/.futdcache.v2
.vs/uMind/v17/.suo
bin/Debug/net6.0-windows/uMind.dll
bin/Debug/net6.0-windows/uMind.pdb
obj/Debug/net6.0-windows/ref/uMind.dll
obj/Debug/net6.0-windows/refint/uMind.dll
obj/Debug/net6.0-windows/uMind.dll
obj/Debug/net6.0-windows/uMind.pdb
